#donation-form {
  margin: 30px 0 0 0;
}

#donation_email,
#donation_amount {
  display: block;
  font-size: 18px;
  margin: 10px 0;
  padding: 8px 10px;
  border: 1px solid #CCC;
  width: 300px;
}

#donate_button {
  @include transition (all 0.3s ease-in-out);
  display: inline-block;
  background: #15426B;
  color: #FFF;
  cursor: pointer;
  padding: 6px 20px;
  font-size: 18px;

  &:hover {
    background: lighten(#15426B, 15%);
  }
}